@page "/country"

@using System.Net.Http;
@using HotelListing.Shared.Models
@inject HttpClient Http;

<h1>Countries</h1>

@if (countries.Count < 1) {
    <h2>Yükleniyor...</h2>
}
else
{
    @foreach (var country in countries)
    {
        <p>@country.Name</p>
    }
}

@code {
    private List<CountryDTO> countries = new List<CountryDTO>();
    
    protected override async Task OnInitializedAsync()
    {
        countries = await Http.GetFromJsonAsync<List<CountryDTO>>("api/Country");
    }
}